/* 
div #rouge
*/
#rouge,
#orange,
#info,
#primary,
.vert,
.gold {
  width: 150px;
  height: 150px;
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin: auto;
  line-height: 150px;
}

#rouge {
  background-color: red;
}

#orange {
  background-color: rgb(223, 129, 6);
}
#info {
  background-color: rgb(28, 170, 185);
}
#primary {
  background-color: var(--bs-primary);
}
/* #success {
  background-color: var(--bs-success);
} */
.vert {
  background-color: var(--bs-success);
}
.gold {
  background-color: gold;
}

.hide {
  display: none;
}
